.Weather {
  border: 0;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(163, 175, 243) 0%,
    rgb(220, 182, 232) 100.2%
  );
}

.Weather .cityCurrent {
  line-height: 40px;
  padding-left: 20px;
  font-size: 40px;
  font-weight: bolder;
}

.Weather .current-button {
  font-size: 25px;
  margin-left: -60px;
}

.Weather input#search-text-input {
  border: 0;
  border-bottom: solid 1px;
  padding: 0.6em 1.2em;
  border: solid 1px rgb(108, 123, 138);
  border-radius: 2em;
  width: 300px;
  max-width: 90%;
}

.Weather button.search-button {
  background-color: rgb(211, 220, 230);
  border: 0;
  border-radius: 3em;
  padding: 0.45em 0.8em;
  color: rgb(62, 66, 70);
  margin-left: -50px;
}

.Weather button.search-button:hover {
  background-color: #a5b0f2;
  border: 0;
  padding: 0.45em 0.8em;
  color: #fff;
  margin-left: -50px;
}

.Weather .dateTime {
  font-size: 12px;
  padding-right: 0;
  padding-left: 10px;
}

.Weather .tempNow {
  font-size: 40px;
}

.Weather .divider {
  font-size: 12px;
  vertical-align: top;
  position: relative;
  top: 10px;
}

.Weather .tempUnit {
  font-size: 12px;
  vertical-align: top;
  position: relative;
  top: 10px;
}

.Weather .todayIcon {
  font-size: 55px;
  padding-left: 35px;
}

.Weather .todayTemp {
  font-size: 22px;
  font-weight: bold;
  padding-top: 15px;
  padding-left: 0px;
  padding-right: 0px;
}
.Weather .divider {
  font-weight: lighter;
}

.Weather .farenheit {
  padding-top: 18px;
  font-size: 15px;
  padding-left: 0px;
}

.Weather .todayWeather {
  padding-left: 30px;
  font-size: 14px;
  font-weight: bold;
}
.Weather .forecast {
  padding: 5px;
  border-radius: 0%;
  text-align: center;
}

.Weather .weatherIcons {
  font-size: 25px;
  color: white;
}
