#currentCity {
  color: #fec2da;
}

body {
  background-color: #f4e9ff;
}

.h1-shadow {
  font-family: "DM Serif Display", serif;
  background: #c695dd;
  background: -webkit-linear-gradient(top, #c695dd, #ac6ebb);
  background: -moz-linear-gradient(top, #c695dd, #ac6ebb);
  background: linear-gradient(to bottom, #c695dd, #ac6ebb);
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 100%;
  position: relative;
  top: -35px;
  text-align: center;
}

h2 {
  font-size: 12px;
  position: relative;
  color: white;
  top: -40px;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

h4 {
  font-size: 15px;
  text-align: center;
  font-family: monospace;
  display: block;
  color: #fff5f4;
}

p {
  color: #d493ff;
  margin: 0px auto;
  padding: 0px auto;
  pointer-events: none;
  display: inline-block;
}

.container {
  max-width: 350px;
  height: 500px;
  margin-top: 50px;
  margin-bottom: 10px;
  border: none;
  border-radius: 15px;
  background: #bfc9ffee;
  background: -webkit-linear-gradient(top, #bfc9ffee, #a3a5cd);
  background: -moz-linear-gradient(top, #bfc9ffee, #a3a5cd);
  background: linear-gradient(to bottom, #bfc9ffee, #a3a5cd);
  overflow: hidden;
}

.locator {
  font-weight: 200;
  display: inline;
  margin: 0px 5px;
  font-size: 25px;
  position: relative;
  top: 40px;
  left: 9px;
  color: #a691c5;
  transition: all 200ms ease-in-out;
  cursor: pointer;
  text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
}

.locator:hover {
  color: #fff;
  text-shadow: -1px 0 #e598fd, 0 1px #e598fd, 1px 0 #e598fd, 0 -1px #e598fd;
}

.locator:active {
  color: #a691c5;
}

#input-city {
  position: relative;
  top: -20px;
  left: 45px;
  max-width: 180px;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 30px;
  padding-left: 10px;
  background: white;
  border: 1px solid white;
  color: #a691c5;
  font-family: "Open Sans", sans-serif;
  transition: all 300ms ease;
}

#input-city:hover {
  background: rgba(255, 255, 255, 0.5);
}

#submit-city {
  position: relative;
  top: -20px;
  left: 50px;
  margin-top: 30px;
  margin-bottom: 30px;
  background: transparent;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  transition: all 300ms ease;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

#submit-city:hover {
  background: white;
  color: #a691c5;
}

::placeholder {
  color: #fff;
  text-align: center;
  font-size: 16px;
}

.temp-circle-today {
  background: rgba(90, 19, 122, 0.4);
  background: -webkit-linear-gradient(
    top left,
    rgba(90, 19, 122, 0.4),
    rgb(237, 208, 251)
  );
  background: -moz-linear-gradient(
    top left,
    rgba(90, 19, 122, 0.4),
    rgb(237, 208, 251)
  );
  background: linear-gradient(
    to bottom right,
    rgba(90, 19, 122, 0.4),
    rgb(237, 208, 251)
  );
  border-radius: 50%;
  border: none;
  height: 170px;
  width: 170px;
  position: relative;
  top: -45px;
  display: block;
  text-align: center;
  margin: 0px auto;
  margin-top: 10px;
  background-clip: content-box;
  padding: 5px;
  border: 1px solid rgba(256, 256, 256, 0.9);
  animation: bigger 2s ease-in-out infinite;
}

/*@keyframes bigger {
  0% {
    padding: 5px;
  }
  50% {
    padding: 0px;
  }
  100% {
    padding: 5px;
  }
}*/

.icon-today {
  position: relative;
  top: -180px;
  right: -175px;
  color: #fff5f4;
  width: 15%;
}

.temp-celsius-today {
  font-size: 60px;
  position: relative;
  bottom: 235px;
  left: -5px;
  text-align: center;
  color: #ffefee;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  margin: 0;
  font-weight: 450;
}

.celsius-fahrenheit {
  font-size: 12px;
  margin: 0;
  padding: 0;
  position: relative;
  bottom: 256px;
  left: 180px;
  color: #ffefee;
  font-family: "Open Sans", sans-serif;
}

.celsius-fahrenheit a {
  text-decoration: none;
  color: #ffffff;
  text-align: center;
  transition: all ease-in-out 0.2s;
}

.celsius-fahrenheit a:hover {
  color: #fec2da;
  font-weight: bold;
}

.today-condition {
  position: relative;
  bottom: 255px;
  font-size: 14px;
  margin: 0;
  text-transform: capitalize;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}

.humidity {
  position: relative;
  bottom: 253px;
  color: #ffefee;
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  text-align: center;
}

.wind {
  position: relative;
  bottom: 257px;
  color: #ffefee;
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  text-align: center;
}

.forecast {
  position: relative;
  bottom: 225px;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  opacity: 0.8;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  margin: 5px 0px 10px 0px;
}

.forecastDay {
  background: rgb(246, 233, 255);
  background: -webkit-linear-gradient(
    top,
    rgb(246, 233, 255),
    rgba(215, 225, 251, 0.8)
  );
  background: -moz-linear-gradient(
    top,
    rgb(246, 233, 255),
    rgba(215, 225, 251, 0.8)
  );
  background: linear-gradient(
    to bottom,
    rgb(246, 233, 255),
    rgba(215, 225, 251, 0.8)
  );
  border-radius: 10px;
  border: none;
  text-align: center;
  padding: 5px;
}

footer {
  text-align: center;
  font-family: monospace;
  font-size: 10px;
  position: relative;
  top: -215px;
  background: rgba(221, 198, 247, 0.5);
  color: white;
  border-radius: 10px;
  width: 310px;
  height: auto;
  margin: 0 auto;
}

.link {
  outline: none;
  text-decoration: none;
  color: #fec2da;
  transition: ease-in 200ms all;
  cursor: pointer;
  pointer-events: all;
}

.link:hover {
  color: #ff9e93;
}
